.title {
    text-align: center;
    padding: 20px 0px;
    margin: 10px 0px;
    border-radius: 5px;
}

.name {
    text-align: center;
    padding-bottom: 15px;
}

.answers {
    display: flex;
}

.images {
    width: 100%;
}

#myProgress {
    width: 100%;
    background-color: grey;
}

#myBar {
    width: 1%;
    height: 30px;
    background-color: #26ff00;
}

